@font-face{
  src: url(./fonts/Roboto-Bold.ttf);
  font-family: rob;
}


body{
  background: linear-gradient(
    135deg, rgb(245, 181, 4), rgb(255, 123, 0)
  );

}


#mainTitle h1{
  text-align: center;
  font-size: 200 px;
  color: white;
  font-weight: bold;
  font-family: rob, sans-serif;
}

.addUPC{
  padding-top:2.5%;
  justify-content: center;
  text-align: center;
}

li{
  padding-bottom: 1%;
  list-style-type: none;
}


.lookUpUPC{
  padding-top:2.5%;
  text-align:center;
}

input{
  background-color: white;
  border-radius: 5px;
}

.toggleButton{
  background-color: white;
  border-radius: 5px;
  margin:1%;
  font-weight: bold;
  font-family: rob, sans-serif;
}

.submit{
  background-color: white;
  border-radius: 5px;
  margin:1%;
  font-weight: bold;
  font-family: rob, sans-serif;
}
